@model IEnumerable<Doctor>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Страница пациентов</title>
</head>
<body>
    <table border="1">
        <caption>пациент</caption>
        <tr>
            <td>Id</td>
            <td>Имя доктора</td>
            <td>Возраст</td>
            <td>Пол</td>
            <td>Должность</td>
            <td></td>
        </tr>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.DoctorId</td>
                <td>@patient.Name</td>
                <td>@patient.Age</td>
                <td>@patient.Gender</td>
                <td>@patient.Position</td>
            </tr>
        }
    </table>

</body>
</html>
